In [5]:
from query_sql import query_stmt
from db_connection import mydb_engine

In [7]:
from sqlalchemy import exc, text, bindparam
import pandas as pd
stmt = """ select * from eth_price;"""
t = text(stmt)
df = pd.read_sql(t,con=mydb_engine)
df

,datetime,open,high,low,close,volume,pct_chg,w_avg_price
0,2023-12-07 19:50:06,2265.27,2284.6,2220.0,2250.12,346229.8826,-0.669,2251.618661
1,2023-12-07 19:50:07,2265.27,2284.6,2220.0,2250.30,346234.7202,-0.661,2251.618640
2,2023-12-07 19:50:08,2265.27,2284.6,2220.0,2250.42,346238.9048,-0.656,2251.618625
3,2023-12-07 19:50:09,2265.27,2284.6,2220.0,2250.42,346238.9048,-0.656,2251.618625
4,2023-12-07 19:50:10,2265.27,2284.6,2220.0,2250.42,346238.9490,-0.656,2251.618625
...,...,...,...,...,...,...,...,...
29568,2023-12-08 04:13:37,2259.78,2360.0,2220.0,2354.66,473454.9189,4.199,2285.303926
29569,2023-12-08 04:13:38,2259.78,2360.0,2220.0,2354.66,473455.1169,4.199,2285.303955
29570,2023-12-08 04:13:39,2259.78,2360.0,2220.0,2354.65,473457.0187,4.198,2285.304234
29571,2023-12-08 04:13:40,2259.78,2360.0,2220.0,2354.65,473457.0434,4.198,2285.304237
29572,2023-12-08 04:13:41,2259.78,2360.0,2220.0,2354.65,473457.3348,4.198,2285.304280

In [22]:
# First we will import the necessary Library 

import os
import pandas as pd
import numpy as np
import math
import datetime as dt
import matplotlib.pyplot as plt

# For Evalution we will use these library

from sklearn.metrics import mean_squared_error, mean_absolute_error, explained_variance_score, r2_score 
from sklearn.metrics import mean_poisson_deviance, mean_gamma_deviance, accuracy_score
from sklearn.preprocessing import MinMaxScaler




# For PLotting we will use these library

import matplotlib.pyplot as plt
from itertools import cycle
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [23]:
df = query_stmt(mydb_engine)

<class 'sqlalchemy.exc.OperationalError'>
(1045, "Access denied for user 'root'@'localhost' (using password: YES)")
None

In [ ]:
# preprocess dataset

In [61]:
df2 = df.copy()#.set_index('datetime')

In [62]:


# extract date and time
df2['date'] = df2['datetime'].dt.normalize()
df2['hour'] = df2['datetime'].dt.hour
df2['min'] = df2['datetime'].dt.minute

# create Y column
df2['nxt_3m_close'] = df2['close'].shift(-180)
df2['return_chg3m'] = (df2['nxt_3m_close'] - df2['close']) / df2['close']

# drop NA
df2 = df2.loc[df2['return_chg3m'].isna() == False]
df2.head()

,datetime,open,high,low,close,volume,pct_chg,w_avg_price,date,hour,min,nxt_3m_close,return_chg3m
0,2023-12-07 19:50:06,2265.27,2284.6,2220.0,2250.12,346229.8826,-0.669,2251.618661,2023-12-07,19,50,2250.87,0.000333
1,2023-12-07 19:50:07,2265.27,2284.6,2220.0,2250.30,346234.7202,-0.661,2251.618640,2023-12-07,19,50,2250.87,0.000253
2,2023-12-07 19:50:08,2265.27,2284.6,2220.0,2250.42,346238.9048,-0.656,2251.618625,2023-12-07,19,50,2250.87,0.000200
3,2023-12-07 19:50:09,2265.27,2284.6,2220.0,2250.42,346238.9048,-0.656,2251.618625,2023-12-07,19,50,2250.87,0.000200
4,2023-12-07 19:50:10,2265.27,2284.6,2220.0,2250.42,346238.9490,-0.656,2251.618625,2023-12-07,19,50,2250.87,0.000200

In [63]:
len(df2)

29393

In [57]:
len(df2.loc[df2['return_chg3m'].isna() == False])

29393

In [58]:
len(df2.loc[df2['return_chg3m'].isna()])

180

In [36]:
df2.iloc[0,0].hour

19